<a href="https://colab.research.google.com/github/jianhui-Always-here/learngit/blob/master/learngit/%E7%AC%AC12%E7%AB%A0_pandas%E9%AB%98%E7%BA%A7%E5%BA%94%E7%94%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [0]:
values = pd.Series(['apple','orange','apple','apple'] * 2)
values

0     apple
1    orange
2     apple
3     apple
4     apple
5    orange
6     apple
7     apple
dtype: object

In [0]:
pd.unique(values)

array(['apple', 'orange'], dtype=object)

In [0]:
pd.value_counts(values)

apple     6
orange    2
dtype: int64

In [0]:
values = pd.Series([0,1,0,0]*2)
dim = pd.Series(['apple','orange'])

In [0]:
print(values)
print(dim)

0    0
1    1
2    0
3    0
4    0
5    1
6    0
7    0
dtype: int64
0     apple
1    orange
dtype: object

In [0]:
dim.take(values)

0     apple
1    orange
0     apple
0     apple
0     apple
1    orange
0     apple
0     apple
dtype: object

In [0]:
fruits = ['apple','orange','apple','apple'] * 2
fruits

['apple', 'orange', 'apple', 'apple', 'apple', 'orange', 'apple', 'apple']

In [0]:
N = len(fruits)
N

8

In [0]:
df = pd.DataFrame({'fruit':fruits,'basket_id':np.arange(N),'count':np.random.randint(3,15,size = N),'weight':np.random.uniform(0,4,size = N)},columns = ['basket_id','fruit','count','weight'])
df

   basket_id   fruit  count    weight
0          0   apple     11  2.501261
1          1  orange      9  3.188126
2          2   apple      8  0.655930
3          3   apple     12  3.780804
4          4   apple      7  3.088565
5          5  orange      6  0.949780
6          6   apple      5  1.285129
7          7   apple      5  2.883198

In [0]:
fruit_cat = df['fruit'].astype('category')
fruit_cat

0     apple
1    orange
2     apple
3     apple
4     apple
5    orange
6     apple
7     apple
Name: fruit, dtype: category
Categories (2, object): [apple, orange]

In [0]:
c = fruit_cat.values
c

[apple, orange, apple, apple, apple, orange, apple, apple]
Categories (2, object): [apple, orange]

In [0]:
type(c)

pandas.core.arrays.categorical.Categorical

In [0]:
c.categories

Index(['apple', 'orange'], dtype='object')

In [0]:
c.codes

array([0, 1, 0, 0, 0, 1, 0, 0], dtype=int8)

In [0]:
df['fruit'] = df['fruit'].astype('category')
df['fruit']

0     apple
1    orange
2     apple
3     apple
4     apple
5    orange
6     apple
7     apple
Name: fruit, dtype: category
Categories (2, object): [apple, orange]

可将DataFrame的列通过分配转换结果，转换成分类。

In [0]:
my_categories = pd.Categorical(['foo','bar','baz','foo','bar'])
my_categories

[foo, bar, baz, foo, bar]
Categories (3, object): [bar, baz, foo]

通过其他Python序列直接创建pandas.Categorical

In [0]:
categories = [100,200,300,400]
categories

[100, 200, 300, 400]

In [0]:
codes = [0,1,2,0,0,1]

In [0]:
my_cats_2 = pd.Categorical.from_codes(codes,categories)
my_cats_2

[100, 200, 300, 100, 100, 200]
Categories (4, int64): [100, 200, 300, 400]

categories中的数据必须唯一

In [0]:
np.random.seed(12345)

In [0]:
draws = np.random.randn(1000)
draws

In [0]:
draws[:5]

array([-0.98350472,  0.93094376, -0.81167564, -1.83015626, -0.13873015])

In [0]:
bins = pd.qcut(draws,4)
bins

[(-3.746, -0.623], (0.677, 3.26], (-3.746, -0.623], (-3.746, -0.623], (-0.623, -0.0206], ..., (-3.746, -0.623], (-0.623, -0.0206], (-0.623, -0.0206], (-3.746, -0.623], (0.677, 3.26]]
Length: 1000
Categories (4, interval[float64]): [(-3.746, -0.623] < (-0.623, -0.0206] < (-0.0206, 0.677] <
                                    (0.677, 3.26]]

In [0]:
bins = pd.qcut(draws,4,labels = ['Q1','Q2','Q3','Q4'])
bins

[Q1, Q4, Q1, Q1, Q2, ..., Q1, Q2, Q2, Q1, Q4]
Length: 1000
Categories (4, object): [Q1 < Q2 < Q3 < Q4]

上面的一个输入行确切的样本分位数与分位的名称相比，不利于生成汇总。使用labels的参数qcut，实现目的~

In [0]:
help(bins)

In [0]:
bins.codes[:10]

array([0, 3, 0, 0, 1, 2, 2, 1, 3, 2], dtype=int8)

In [0]:
bins = pd.Series(bins,name = 'quartile')
bins

0      Q1
1      Q4
2      Q1
3      Q1
4      Q2
5      Q3
6      Q3
7      Q2
8      Q4
9      Q3
10     Q4
11     Q2
12     Q2
13     Q3
14     Q3
15     Q1
16     Q3
17     Q4
18     Q2
19     Q2
20     Q2
21     Q2
22     Q3
23     Q3
24     Q3
25     Q1
26     Q4
27     Q4
28     Q2
29     Q3
       ..
970    Q4
971    Q4
972    Q2
973    Q3
974    Q1
975    Q2
976    Q4
977    Q3
978    Q2
979    Q1
980    Q1
981    Q3
982    Q1
983    Q4
984    Q3
985    Q4
986    Q1
987    Q4
988    Q1
989    Q4
990    Q1
991    Q2
992    Q2
993    Q3
994    Q4
995    Q1
996    Q2
997    Q2
998    Q1
999    Q4
Name: quartile, Length: 1000, dtype: category
Categories (4, object): [Q1 < Q2 < Q3 < Q4]

In [0]:
results = (pd.Series(draws).groupby(bins).agg(['count','min','max']).reset_index())

In [0]:
results

  quartile  count       min       max
0       Q1    250 -3.745356 -0.627426
1       Q2    250 -0.621249 -0.021299
2       Q3    250 -0.019941  0.677246
3       Q4    250  0.677263  3.260383

In [0]:
results['quartile']

0    Q1
1    Q2
2    Q3
3    Q4
Name: quartile, dtype: category
Categories (4, object): [Q1 < Q2 < Q3 < Q4]

In [0]:
N  = 10 **7
draws = pd.Series(np.random.randn(N))
draws

0         -0.578828
1          1.847446
2          0.453739
3         -0.302450
4          1.402558
5          1.212354
6         -1.613474
7         -0.573966
8          0.424894
9          1.257544
10        -1.065343
11         0.276356
12         1.680135
13        -0.679335
14        -0.129697
15        -1.930931
16        -0.607638
17        -0.195258
18        -2.077403
19         0.422648
20         2.001614
21         1.385914
22        -1.104685
23         0.677098
24         0.560161
25        -0.815368
26         1.004914
27         0.361801
28        -0.340487
29         0.462387
             ...
9999970    0.077183
9999971    0.686432
9999972    0.160557
9999973   -1.370182
9999974   -1.063747
9999975   -0.264300
9999976   -0.706333
9999977    2.047619
9999978   -1.388819
9999979   -1.601867
9999980    0.752478
9999981   -0.859640
9999982    1.381475
9999983   -1.403242
9999984    1.013128
9999985   -1.257209
9999986   -1.148860
9999987    0.994804
9999988    0.267782
9999989   -0.142562
9999990    0.164313
9999991   -1.316610
9999992   -0.410815
9999993    1.978387
9999994   -0.457086
9999995    0.449078
9999996   -0.727340
9999997    0.873328
9999998   -0.089398
9999999   -2.119172
Length: 10000000, dtype: float64

In [0]:
labels = pd.Series(['foo','bar','baz','qux'] * (N // 4))
labels

0          foo
1          bar
2          baz
3          qux
4          foo
5          bar
6          baz
7          qux
8          foo
9          bar
10         baz
11         qux
12         foo
13         bar
14         baz
15         qux
16         foo
17         bar
18         baz
19         qux
20         foo
21         bar
22         baz
23         qux
24         foo
25         bar
26         baz
27         qux
28         foo
29         bar
          ...
9999970    baz
9999971    qux
9999972    foo
9999973    bar
9999974    baz
9999975    qux
9999976    foo
9999977    bar
9999978    baz
9999979    qux
9999980    foo
9999981    bar
9999982    baz
9999983    qux
9999984    foo
9999985    bar
9999986    baz
9999987    qux
9999988    foo
9999989    bar
9999990    baz
9999991    qux
9999992    foo
9999993    bar
9999994    baz
9999995    qux
9999996    foo
9999997    bar
9999998    baz
9999999    qux
Length: 10000000, dtype: object

In [0]:
categories = labels.astype('category')
categories

In [0]:
labels.memory_usage()

80000080

In [0]:
labels.memory_usage()

80000080

In [0]:
categories.memory_usage()

10000272

In [0]:
%time_ = lables.astype('category')

UsageError: Line magic function `%time_` not found.

In [0]:
#分类方法
s = pd.Series(['a','b','c','d'] * 2)
s

0    a
1    b
2    c
3    d
4    a
5    b
6    c
7    d
dtype: object

In [0]:
cat_s = s.astype('category')
cat_s

0    a
1    b
2    c
3    d
4    a
5    b
6    c
7    d
dtype: category
Categories (4, object): [a, b, c, d]

In [0]:
dir(cat_s)

In [0]:
cat_s.cat.codes

0    0
1    1
2    2
3    3
4    0
5    1
6    2
7    3
dtype: int8

In [0]:
cat_s.cat.categories

Index(['a', 'b', 'c', 'd'], dtype='object')

In [0]:
actual_categories = ['a','b','c','d','e']
cat_s2 = cat_s.cat.set_categories(actual_categories)
cat_s2

0    a
1    b
2    c
3    d
4    a
5    b
6    c
7    d
dtype: category
Categories (5, object): [a, b, c, d, e]

假设我们知道这个数据的实际分类集。超过了数据中的四个值。我们可以使用set_categories 方法改变他们

In [0]:
actual_categories = ['a','b','c','d','e']
cat_s2 = cat_s.cat.set_categories(actual_categories)
cat_s2

0    a
1    b
2    c
3    d
4    a
5    b
6    c
7    d
dtype: category
Categories (5, object): [a, b, c, d, e]

数据显示没有变化，新的分类反映在它们的操作中

In [0]:
cat_s.value_counts()

d    2
c    2
b    2
a    2
dtype: int64

In [0]:
cat_s2.value_counts()

d    2
c    2
b    2
a    2
e    0
dtype: int64

在大的数据集中，分类经常作为节省内存和高性能的便捷工具。过滤完大DataFrame或Series之后，许多分类可能不会出现在数据中，我们可以使用remove_unused_categories方法删除没看到的分类

In [0]:
print(type(cat_s))
print(cat_s)

<class 'pandas.core.series.Series'>
0    a
1    b
2    c
3    d
4    a
5    b
6    c
7    d
dtype: category
Categories (4, object): [a, b, c, d]

cat_s数据类型是series,但是Series中的数据类型是Categories

In [0]:
cat_s3 = cat_s[cat_s.isin(['a','b'])]
cat_s3

0    a
1    b
4    a
5    b
dtype: category
Categories (4, object): [a, b, c, d]

In [0]:
cat_s.cat.remove_unused_categories()

0    a
1    b
2    c
3    d
4    a
5    b
6    c
7    d
dtype: category
Categories (4, object): [a, b, c, d]

In [0]:
#为建模创建模拟变量

In [0]:
cat_s = pd.Series(['a','b','c','d'] *  2,dtype = 'category')
cat_s

0    a
1    b
2    c
3    d
4    a
5    b
6    c
7    d
dtype: category
Categories (4, object): [a, b, c, d]

In [0]:
pd.get_dummies(cat_s)

   a  b  c  d
0  1  0  0  0
1  0  1  0  0
2  0  0  1  0
3  0  0  0  1
4  1  0  0  0
5  0  1  0  0
6  0  0  1  0
7  0  0  0  1

In [0]:
#GroupBy高级应用

In [0]:
df = pd.DataFrame({'key':['a','b','c'] * 4,'value':np.arange(12.)})
df

   key  value
0    a    0.0
1    b    1.0
2    c    2.0
3    a    3.0
4    b    4.0
5    c    5.0
6    a    6.0
7    b    7.0
8    c    8.0
9    a    9.0
10   b   10.0
11   c   11.0

In [0]:
g = df.groupby('key').mean()
c = df.groupby('key')['value'].mean()
print(c)
print(g)

key
a    4.5
b    5.5
c    6.5
Name: value, dtype: float64
     value
key
a      4.5
b      5.5
c      6.5

In [0]:
df

   key  value
0    a    0.0
1    b    1.0
2    c    2.0
3    a    3.0
4    b    4.0
5    c    5.0
6    a    6.0
7    b    7.0
8    c    8.0
9    a    9.0
10   b   10.0
11   c   11.0

In [0]:
g.head()

     value
key
a      4.5
b      5.5
c      6.5

In [0]:
# g.transform(lambda x:x.mean())
g = df.groupby('key').value
g

In [0]:
g.transform(lambda x:x.mean())

0     4.5
1     5.5
2     6.5
3     4.5
4     5.5
5     6.5
6     4.5
7     5.5
8     6.5
9     4.5
10    5.5
11    6.5
Name: value, dtype: float64

In [0]:
c.head()

key
a    4.5
b    5.5
c    6.5
Name: value, dtype: float64

In [0]:
g = df.groupby('key').value
g

In [0]:
g.mean()

key
a    4.5
b    5.5
c    6.5
Name: value, dtype: float64

In [0]:
g.transform(lambda x:x.mean())

0     4.5
1     5.5
2     6.5
3     4.5
4     5.5
5     6.5
6     4.5
7     5.5
8     6.5
9     4.5
10    5.5
11    6.5
Name: value, dtype: float64

一个和df['value']形状相同的Series，但值替换为按键分组的平均值

In [0]:
g.transform(lambda x:x*2)

0      0.0
1      2.0
2      4.0
3      6.0
4      8.0
5     10.0
6     12.0
7     14.0
8     16.0
9     18.0
10    20.0
11    22.0
Name: value, dtype: float64

In [0]:
g.transform(lambda x:x.rank(ascending = False))

0     4.0
1     4.0
2     4.0
3     3.0
4     3.0
5     3.0
6     2.0
7     2.0
8     2.0
9     1.0
10    1.0
11    1.0
Name: value, dtype: float64

In [0]:
g.transform(lambda x:(x - x.mean())/x.std())

0    -1.161895
1    -1.161895
2    -1.161895
3    -0.387298
4    -0.387298
5    -0.387298
6     0.387298
7     0.387298
8     0.387298
9     1.161895
10    1.161895
11    1.161895
Name: value, dtype: float64

In [0]:
g.apply(lambda x:(x - x.mean())/x.std())

0    -1.161895
1    -1.161895
2    -1.161895
3    -0.387298
4    -0.387298
5    -0.387298
6     0.387298
7     0.387298
8     0.387298
9     1.161895
10    1.161895
11    1.161895
Name: value, dtype: float64

In [0]:
#分组的时间重采样

In [0]:
N = 15

In [0]:
times = pd.date_range('2017-05-20 00:00',freq = 'min',periods = N)
times

DatetimeIndex(['2017-05-20 00:00:00', '2017-05-20 00:01:00',
               '2017-05-20 00:02:00', '2017-05-20 00:03:00',
               '2017-05-20 00:04:00', '2017-05-20 00:05:00',
               '2017-05-20 00:06:00', '2017-05-20 00:07:00',
               '2017-05-20 00:08:00', '2017-05-20 00:09:00',
               '2017-05-20 00:10:00', '2017-05-20 00:11:00',
               '2017-05-20 00:12:00', '2017-05-20 00:13:00',
               '2017-05-20 00:14:00'],
              dtype='datetime64[ns]', freq='T')

In [0]:
df = pd.DataFrame({'time':times,'value':np.arange(N)})
df

                  time  value
0  2017-05-20 00:00:00      0
1  2017-05-20 00:01:00      1
2  2017-05-20 00:02:00      2
3  2017-05-20 00:03:00      3
4  2017-05-20 00:04:00      4
5  2017-05-20 00:05:00      5
6  2017-05-20 00:06:00      6
7  2017-05-20 00:07:00      7
8  2017-05-20 00:08:00      8
9  2017-05-20 00:09:00      9
10 2017-05-20 00:10:00     10
11 2017-05-20 00:11:00     11
12 2017-05-20 00:12:00     12
13 2017-05-20 00:13:00     13
14 2017-05-20 00:14:00     14

In [0]:
df.set_index('time').resample('5min').count()

                     value
time
2017-05-20 00:00:00      5
2017-05-20 00:05:00      5
2017-05-20 00:10:00      5

In [0]:
df2 = pd.DataFrame({'time':times.repeat(3),'key':np.tile(['a','b','c'],N),'value':np.arange(N*3.)})
df2

                  time key  value
0  2017-05-20 00:00:00   a    0.0
1  2017-05-20 00:00:00   b    1.0
2  2017-05-20 00:00:00   c    2.0
3  2017-05-20 00:01:00   a    3.0
4  2017-05-20 00:01:00   b    4.0
5  2017-05-20 00:01:00   c    5.0
6  2017-05-20 00:02:00   a    6.0
7  2017-05-20 00:02:00   b    7.0
8  2017-05-20 00:02:00   c    8.0
9  2017-05-20 00:03:00   a    9.0
10 2017-05-20 00:03:00   b   10.0
11 2017-05-20 00:03:00   c   11.0
12 2017-05-20 00:04:00   a   12.0
13 2017-05-20 00:04:00   b   13.0
14 2017-05-20 00:04:00   c   14.0
15 2017-05-20 00:05:00   a   15.0
16 2017-05-20 00:05:00   b   16.0
17 2017-05-20 00:05:00   c   17.0
18 2017-05-20 00:06:00   a   18.0
19 2017-05-20 00:06:00   b   19.0
20 2017-05-20 00:06:00   c   20.0
21 2017-05-20 00:07:00   a   21.0
22 2017-05-20 00:07:00   b   22.0
23 2017-05-20 00:07:00   c   23.0
24 2017-05-20 00:08:00   a   24.0
25 2017-05-20 00:08:00   b   25.0
26 2017-05-20 00:08:00   c   26.0
27 2017-05-20 00:09:00   a   27.0
28 2017-05-20 00:09:00   b   28.0
29 2017-05-20 00:09:00   c   29.0
30 2017-05-20 00:10:00   a   30.0
31 2017-05-20 00:10:00   b   31.0
32 2017-05-20 00:10:00   c   32.0
33 2017-05-20 00:11:00   a   33.0
34 2017-05-20 00:11:00   b   34.0
35 2017-05-20 00:11:00   c   35.0
36 2017-05-20 00:12:00   a   36.0
37 2017-05-20 00:12:00   b   37.0
38 2017-05-20 00:12:00   c   38.0
39 2017-05-20 00:13:00   a   39.0
40 2017-05-20 00:13:00   b   40.0
41 2017-05-20 00:13:00   c   41.0
42 2017-05-20 00:14:00   a   42.0
43 2017-05-20 00:14:00   b   43.0
44 2017-05-20 00:14:00   c   44.0

In [0]:
df

                  time  value
0  2017-05-20 00:00:00      0
1  2017-05-20 00:01:00      1
2  2017-05-20 00:02:00      2
3  2017-05-20 00:03:00      3
4  2017-05-20 00:04:00      4
5  2017-05-20 00:05:00      5
6  2017-05-20 00:06:00      6
7  2017-05-20 00:07:00      7
8  2017-05-20 00:08:00      8
9  2017-05-20 00:09:00      9
10 2017-05-20 00:10:00     10
11 2017-05-20 00:11:00     11
12 2017-05-20 00:12:00     12
13 2017-05-20 00:13:00     13
14 2017-05-20 00:14:00     14

In [0]:

!pwd
!cd ..

/content

In [0]:
a = f(df,argl = v1)
b = g(a,v2,arg3 = v3)
c = h(b,arg4 = v4)
result = (df.pipe(f,arg1 = v1).pipe(g,v2,arg3 = v3).pipe(h,arg4 = v4))

In [0]:
def group_demean(df,by,cols):
    result = df.copy()
    g = df.groupby(by)
    for  c in cols:
        result[c] = df[c] - g[c].transform('mean')
    return result